@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,100italic|Roboto+Mono:400,100italic,700);

body {
  margin: 0;
  padding: 0;
  background: url(./pexels-cottonbro-studio-3826435\ \(1\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  position: relative;
  display: inline-block;
  font-size: 18px;
  box-sizing: border-box;
  transition: .5s ease-in-out;
}

input[type="text"] {
  background-color: #fff;
  width: 150x;
  height: 40px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
}

.form button {
  left: -5px;
  position: relative;
  border-radius: 0px 25px 25px 0;
  width: 150px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  background: rgb(0,213,99);
  color: #fff;
}

.form button:hover {
  background: #ff5722;
}

.toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.toolbar button {
  width: 25%;
  height: 40px;
  background:rgb(0,213,99);
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 19px;

}

.toolbar button:hover {
  background: #ff5722
}